body{
	margin:0;
	padding:0;
	font-size:16px;
	font-weight:300;
	width:100%;
	background:rgb(204,204,204);
}
.page{
	background:#fff;
	display:block;
	margin:3rem auto 3rem auto;
	position:relative;
	box-shadow: 0 0 0.5cm rgba(0,0,0,0.1);
	padding:10px;
	background-image: url('images/15782147_5671773.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  opacity:0.9;
}
.page[size="A4"]{
	width: 100%;
    height: auto;
    max-width: 800px;
	
}
.logo{
	margin-top:30px;
	margin-left:50px;
	float:left;
}
.bill-no{
	float:right;
	padding-top:10px;
	margin-right:70px;
	font-size:22px;
}
.bottom-section{
	clear:both;
}
.address{
	float:left;
	margin-top:-30px;
	margin-left:20px;
	padding-right:30px;
	margin-bottom:-10px;
	
}
.Divide{
	float:left;
}
.email{
	float:left;
	margin-left:20px;
	padding-right:30px;
	font-size:17px;
}
.phone{
	float:left;
	margin-left:20px;
	font-size:17px;
	padding-right:0px;
	padding-bottom:5px;
}
.client{
	font-size:17px;
	color:#ffff;
	background-color:black;
	margin-top:-5px;
	padding-left:20px;
	
}
.client-address{
	clear:both;
	float:left;
	margin-top:-20px;
	margin-left:20px;
	padding-right:50px;
	margin-bottom:-10px;
}
.client-email{
	float:left;
	margin-left:20px;
	padding-right:50px;
	font-size:17px;
}
.client-phone{
	float:left;
	margin-left:20px;
	font-size:17px;
	padding-right:0px;
	padding-bottom:15px;
}
.tabindex{
	width:100%;
}
.table1{
	width:49.5%;
	float:left;
	border:1px solid black;
	
}
.head1{
	background-color:black;
	margin-top:-19px;
}
.head2{
	background-color:black;
	margin-top:-19px;
}
.box1{
	width:40%;
	float:left;
	padding-left:10%;
	padding-bottom:20px;
}
.box2{
	width:50%;
	float:left;
	padding-bottom:20px;
	display:inline-block;
	
}


.box3{
	width:40%;
	float:left;
	padding-left:10%;
	padding-bottom:20px;
}
.box4{
	width:50%;
	float:left;
	padding-bottom:20px;
}
.table2{
	width:49.5%;
	float:left;
	border:1px solid black;
}
.box5{
	width:40%;
	float:left;
	padding-left:10%;
	padding-bottom:20px;
}
.box6{
	width:50%;
	float:left;
	padding-bottom:20px;
}
.box7{
	width:40%;
	float:left;
	padding-left:10%;
	padding-bottom:20px;
}
.box8{
	width:50%;
	float:left;
	padding-bottom:20px;
}
.box9{
	width:40%;
	float:left;
	padding-left:10%;
	padding-bottom:20px;
}
.box10{
	width:50%;
	float:left;
	padding-bottom:20px;
}

.date{
	clear:both;
	font-size:15px;
	color:#ffff;
	background-color:black;
	margin-top:-10px;
	padding-left:550px;
	
}
.Arrive{
	float:left;
	margin-top:-10px;
	margin-left:70px;
	padding-right:50px;
	font-size:17px;
}
.depart{
	float:left;
	margin-left:20px;
	padding-right:40px;
	font-size:17px;
	margin-top:-10px;
}
.total{
	float:left;
	margin-left:20px;
	font-size:17px;
	padding-right:72px;
	padding-bottom:20px;
	margin-top:-10px;
}
.report table, th,td {
  border: 1px solid black;
  border-collapse: collapse;
  
}
.report table, th{
	color:#fff;
	background-color:black;
}
.report table, td{
	color:black;
	background-color:#ffff;
	font-size:20px;
}

.signature{
	float:left;
	padding-left:100px;
	padding-bottom:50px;
}
.signature-client{
	float:right;
	padding-right:100px;
	padding-bottom:50px;
}
footer{
	clear:both;
	color:#fff;
	background-color:black;
	font-size:12px;
	text-align:center;
	padding-top:3px;
	padding-bottom:3px;
	line-height:1.5;
}

@media screen and (max-width: 500px){
	body{
		width:100%;
		margin:0;
		padding:0;
		overflow-x:hidden;
		display:flex;
		justify-content:center;
		align-items:center;
	}
.page{
	margin:0px;
	padding:5px;
	width:100%;
	overflow-x:hidden;
}
.page[size="A4"]{
	width: 100%;
    height: auto;
    max-width: 400px;
	
}
.top-section,logo{
	width:100%;
	margin-left:auto;
	margin-right:auto;
	display:block;
	
}
.bill-no{
	width:100%;
	padding-left:0px;
	padding-right:0px;
	font-size:15px;
	margin-left:0px;
	margin-right:0px;
	text-align:center;
	margin-bottom:10px;
	overflow-x:hidden;
}
.Divide{
	display:none;
}

.address{
	width:100%;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	white-space:nowrap;
	margin-bottom:-10px;
	font-size:15px;
	
}

.email{
	margin-left:10px;
	padding-right:20px;
	font-size:10px;
}
.phone{
	
	margin-left:10px;
	font-size:10px;
	padding-right:0px;
	
}
.client{
	font-size:15px;
	text-align:center;
}
.client-address{
	width:100%;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	white-space:nowrap;
	margin-bottom:-10px;
	font-size:15px;
}	
.client-email{
	
	margin-left:10px;
	padding-right:20px;
	font-size:10px;
}
.client-phone{
	margin-left:10px;
	font-size:10px;
	padding-right:0px;
	padding-bottom:0px;
}
.tabindex{
	width:100%;
}
.table1{
	width:100%;
	border:1px solid black;	
}
.table2{
	width:100%;
	border:1px solid black;	
}
.head1{
	margin-top:-20px;
}
.head2{
	margin-top:-20px;
}
.date{
	width:100%;
	padding-left:0px;
	margin-left:opx;
	margin-right:0px;
	text-align:center;
	white-space:nowrap;
	
}
.Arrive{
	width:100%;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	white-space:nowrap;
	font-size:15px;
}
.depart{
	width:100%;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	white-space:nowrap;
	font-size:15px;
}
.total{
	width:100%;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	white-space:nowrap;
	font-size:15px;
	padding-right:0px;
}
.report{
	width:350px;
	overflow-x: scroll;
}
.report table,th{
	font-size:15px;
}
.report table,td{
	font-size:13px;
}
.signature{
	width:100%;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	white-space:nowrap;
	padding-left:0px;
	padding-bottom:10px;
}
.signature-client{
	width:100%;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	white-space:nowrap;
	padding-right:0px;
	padding-bottom:10px;
}
footer{
	width:100%;
	font-size:10px;
	line-height:1.5;
	letter-spacing:1.1;
}
}



